.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 10vh;
}

.header {
    margin-left: 1.5%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 700;
}

.description {
    color: #9d9ba9;
    margin: 0;
}

.dropdownContainer {
    position: relative;
    margin-right: 1.5%;
    width: calc(20% + 20px);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        border: 1px solid #1e1d26;
        background-color: #1e1d26;
        height: 4.5vh;
        padding: 0 10px;
        width: calc(100% - 20px);

        &.active + .dropdownOptions {
            display: block;
        }
    }

    .dropdownOptions {
        text-align: left;
        position: absolute;
        top: 120%;
        width: calc(100% - 20px);
        background-color: #1e1d26;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1%;
        transition: all 600ms ease;
        display: none;
        padding: 0 10px;

        .dropdownOption {
            height: 3vh;
        }
    }
}
