.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 10vh;

    &.half {
        flex-direction: column;
        align-items: flex-start;
        height: auto;

        .header {
            margin-left: 3%;
        }
    }
}

.header {
    margin-left: 1.5%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 700;
}

.description {
    color: #9d9ba9;
    margin: 0;
}

.dropdownContainer {
    position: relative;
    margin-right: 1.5%;
    width: calc(20% + 20px);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &.half {
        margin: 3%;
        width: calc(40% + 20px);
    }

    .dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        border: 1px solid #1e1d26;
        background-color: #1e1d26;
        height: 4.5vh;
        padding: 0 10px;
        width: calc(100% - 20px);

        &.active + .dropdownOptions {
            animation: dropdown 0.6s ease forwards;
        }
        .dropdownIcon {
            transform: rotate(180deg);
            transition: all 600ms ease;
        }

        &.active .dropdownIcon {
            transform: rotate(0deg);
            transition: all 600ms ease;
        }
    }

    .dropdownOptions {
        text-align: left;
        position: absolute;
        top: 120%;
        width: 100%;
        background-color: #1e1d26;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: all 600ms ease;
        animation: hidedropdown 0.6s ease forwards;
        max-height: 30vh;
        overflow-y: scroll;

        .dropdownOption {
            transition: all 600ms ease;
            width: calc(100% - 20px);
            border-radius: 6px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            cursor: pointer;
            height: 5vh;
            min-height: 5vh;

            &:hover {
                background-color: #2e2d36;
                transition: all 600ms ease;
            }

            .icon {
                color: #9d9ba9;
                margin-right: 5%;
                font-size: 1rem;
            }
        }
    }
}

@keyframes dropdown {
    from {
        transform: translate3d(0, -20%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes hidedropdown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    99% {
        scale: 1;
    }
    to {
        transform: translate3d(0, -20%, 0);
        opacity: 0;
        scale: 0;
    }
}
