.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}

.textContainer {
    margin-left: 3%;
    margin-top: 3%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 700;
}

.description {
    color: #9d9ba9;
    margin: 0;
}
