.bar {
    display: flex;
    justify-content: left;
    gap: 2vh;
    height: 7vh;
    border-bottom: 2px solid #212029;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.bar::-webkit-scrollbar {
    display: none;
}

.item {
    color: #9d9ba9;
    width: auto;
    min-width: max-content;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: all 600ms ease;
    cursor: pointer;
    margin-left: 1%;
}

.item:nth-child(1) {
    margin-left: 2%;
}

.selected {
    color: white;
    border-bottom: 2px solid white;
    transition: all 600ms ease;
}
