.container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.half {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: auto;

        .header {
            margin: 3%;
            margin-top: 1.5%;
        }
    }

    .header {
        margin: 1.5%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .heading {
            color: white;
            font-size: 1.2rem;
            margin: 0;
            font-weight: 700;
        }

        .description {
            color: #9d9ba9;
            margin: 0;
        }
    }
}

.checkboxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 2%;

    &.half {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        margin: 3%;
        margin-top: 0;

        .checkboxToggle {
            width: 5%;
            aspect-ratio: 1 / 1;
        }
    }

    .checkboxToggle {
        height: 40%;
        aspect-ratio: 1/1;
        border-radius: 6px;
        background-color: #1e1d26;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 600ms ease;
        cursor: pointer;
        border: 1px solid #111118;

        .checkboxInnerToggle {
            width: 60%;
            height: 60%;
            border-radius: 3px;
            transition: all 600ms ease;
        }
    }
}

.radioContainer {
    margin: 0 0 3% 3%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 1vh;
    width: 94%;
    height: 100%;

    &.full {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        margin-right: 3%;
    }

    .option {
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 600ms ease;
        cursor: pointer;

        .radioToggle {
            background-color: #1e1d26;
            height: 3vh;
            width: 3vh;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: all 600ms ease;
            border: 1px solid #1e1d26;

            .radioInnerToggle {
                width: 60%;
                height: 60%;
                border-radius: 50%;
                transition: all 600ms ease;
            }
        }

        .label {
            margin-left: 1vh;
            font-weight: 600;
            color: white;
        }
    }
}

.hidden {
    visibility: hidden !important;
    transition: all 600ms ease;
    position: absolute;

    &:checked + .radioToggle .radioInnerToggle,
    &:checked + .checkboxToggle .checkboxInnerToggle {
        background-color: #5959ff;
        transition: all 600ms ease;
    }

    &:hover + .radioToggle,
    &:hover + .checkboxToggle {
        border: 1px solid #5959ff;
        transition: all 600ms ease;
    }
}

.radioInput:checked + .radioToggle .radioInnerToggle {
    background-color: #5959ff;
    transition: all 600ms ease;
}

.radioInput:hover + .radioToggle {
    border: 1px solid #5959ff;
    transition: all 600ms ease;
}
