.dashboardtopbar {
    width: 100%;
    height: 8vh;
    border-bottom: 2px solid #1f2129;
    margin-left: 0;
    text-align: left;
    display: flex;
    align-items: center;
}
.topbarheader {
    margin-left: 3%;
    color: white;
}
.topbardivider {
    background-color: #28272e;
    font-size: 2rem;
    height: 40%;
    width: 0.2vw;
    border: none;
    border-radius: 12px;
    margin: 0 2%;
}
.topbardescription {
    color: #9d9ba9;
    font-weight: 600;
}

.save {
    color: white;
    background-color: #4b4ee7;
    height: 4vh;
    border: none;
    border-radius: 6px;
    padding: 0 15px;
    transition: all 600ms ease;
    cursor: pointer;
    margin-left: auto;
    margin-right: 3%;
}

.save:hover {
    background-color: #27288f;
    transition: all 600ms ease;
}
