.container {
    margin-top: 10vh;
    width: 100%;
    height: auto;
    border-radius: 6px;
    transition: all 600ms ease;
}

.innerContainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    border-radius: 6px;

    &:hover .controls {
        transform: translateY(0);
        transition: transform 600ms ease;
    }

    &:hover .image {
        scale: 1.1;
        transition: all 600ms ease-out;
    }

    &:hover .icons {
        transform: translateX(0);
        transition: all 600ms ease;
    }

    .carousel {
        width: 100%;
        border-radius: 8px;
        transition: all 600ms ease;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-bottom: 50%;

        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            object-fit: cover;
            transition: all 600ms ease-out;

            &.active {
                opacity: 1;
            }
        }
    }

    .icons {
        position: absolute;
        top: 1vh;
        left: 1vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(24px);
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid #23252a;
        z-index: 2;
        transition: all 600ms ease;
        transform: translateX(-140%);
        padding: 0.2% 0.4%;
        border-radius: 6px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
            transition: all 600ms ease;
        }

        .icon {
            margin: 0 0.6vh;
            color: #a1a0a9;
            font-size: 1rem;
            cursor: pointer;
            transition: all 600ms ease;

            &:hover {
                color: white;
                transition: all 600ms ease;
            }
        }
    }
}
.controls {
    z-index: 2;
    position: absolute;
    bottom: 0;
    height: calc(15% + 2px);
    width: calc(100% - 2px);
    backdrop-filter: blur(24px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px 6px 6px;
    border: 1px solid #23252a;
    transform: translateY(100%);
    transition: all 600ms ease;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-template-rows: 1;

    .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: 2px;
        border-right: 1px solid #101012;
        &:nth-last-child(1) {
            border-right: none;
        }

        &:not(.active)::before {
            animation: slideOut 0.8s linear forwards;
        }

        &.active {
            &::before {
                animation: slideIn 5s linear forwards;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 0;
        }

        .title {
            color: white;
            z-index: 1;
            font-weight: 600;
            font-size: 1.1rem;
            margin: 3% 0 0 3%;
        }

        .description {
            margin: 3% 0 0 3%;
            color: #a1a0a9;
            z-index: 1;
        }
    }
}

@keyframes slideIn {
    0% {
        left: -100%;
        opacity: 1;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
