.carousel {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10vh;
}

.carouselcontainer {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #2a2933;
    transition: all 600ms ease;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}

.carouselimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    object-fit: cover;
}

.carouselimage.active {
    opacity: 1;
}

.controls {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: all 600ms ease;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #a1a0a9;
    margin: 0 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.activedot {
    background-color: white;
}

.arrow {
    background: none;
    border: none;
    font-size: 24px;
    color: #a1a0a9;
    cursor: pointer;
    padding: 0 10px;
    transition: color 0.3s ease;
}

.arrow:hover {
    color: white;
}

.leftarrow {
    margin-right: 10px;
}

.rightarrow {
    margin-left: 10px;
}
