.griditem {
    border: 1px solid #23252a;
    background-color: rgba(16, 16, 18);
    height: 45vh;
    border-radius: 10px;
    opacity: 0;
    transition: all 600ms ease;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.02);
}
.griditem:hover {
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.02), 0 0 40px 2px rgba(255, 255, 255, 0.02);
    transition: all 600ms ease;
    scale: 1.007;
}

.animate:nth-child(2n) {
    animation-delay: 200ms;
}

.animate:nth-child(3n) {
    animation-delay: 400ms;
}

.animate {
    animation: appear 0.4s linear both;
    -moz-animation: appear 0.4s linear both;
    transform-style: preserve-3d;
    will-change: transform, opacity;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translate3d(0px, 24px, 0px) scale3d(0.96, 0.96, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
            skew(0deg);
    }
    /*10% {
        opacity: 0;
        transform: translate3d(0px, 20px, 0px) scale3d(0.96, 0.96, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
            skew(0deg);
    }*/
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    }
}

.gridtextcontainer {
    display: flex;
    flex-direction: column;
    color: #a1a0a9;
    margin-left: 4%;
}

.gridheader {
    color: white;
    font-size: 1.6em;
    color: white;
    margin-bottom: 0;
    font-weight: 600;
}

.gridbutton {
    font-weight: 600;
    border-radius: 5px;
    background-color: #23252a;
    padding: 6px 20px;
    text-align: center;
    transition: all 600ms ease;
    z-index: 2;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
}

.gridbutton:hover {
    scale: 0.95;
    background-color: #1c1d1f;
    transition: all 600ms ease;
}

.gridrowfull {
    grid-column: span 6;
    display: flex;
    text-align: left;
    height: 35vh;
    justify-content: space-between;
}

.gridrowfull .gridtextcontainer {
    width: 45%;
}

.gridrowfull .gridimg {
    max-height: 100%;
    max-width: 50%;
    border-radius: 3px 10px 10px 3px;
    float: right;
    align-self: flex-end;
}

.gridrowhalf {
    grid-row: span 2;
    grid-column: span 3;
    height: 70vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.gridrowhalf .gridbutton {
    align-self: center;
}

.gridrowhalf .gridimg {
    max-height: 55%;
    max-width: 100%;
    align-self: center;
    border-radius: 3px 3px 10px 10px;
}

.gridrowthird {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    justify-content: space-between;
}

.gridrowthird .gridtextcontainer {
    width: 90%;
    margin-left: 5%;
    text-align: left;
    height: 60%;
}

.gridrowthird .gridimg {
    max-height: 40%;
    align-self: flex-end;
    border-radius: 3px 3px 10px 3px;
    height: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 90%;
}

.gridrowtwothirds {
    grid-column: span 4;
    text-align: left;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.gridrowtwothirds .gridtextcontainer {
    width: 50%;
}

.gridrowtwothirds .gridimg {
    /*align-self: flex-end;
    justify-self: flex-end;*/
    border-radius: 3px 10px 10px 3px;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 70%;
    max-height: 60%;
}

@media screen and (max-width: 768px) {
    .gridrowfull,
    .gridrowhalf,
    .gridrowthird,
    .gridrowtwothirds {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        height: 55vh;
    }

    .gridrowfull .gridtextcontainer,
    .gridrowhalf .gridtextcontainer,
    .gridrowthird .gridtextcontainer,
    .gridrowtwothirds .gridtextcontainer {
        width: 90%;
        margin-left: 5%;
        text-align: center;
        height: 50%;
    }

    .gridrowfull .gridimg,
    .gridrowhalf .gridimg,
    .gridrowthird .gridimg,
    .gridrowtwothirds .gridimg {
        border-radius: 10px;
        max-height: 45%;
        max-width: 100%;
        height: auto;
        align-self: center;
        position: relative;
    }

    .gridrowfull .gridbutton,
    .gridrowhalf .gridbutton,
    .gridrowthird .gridbutton,
    .gridrowtwothirds .gridbutton {
        align-self: center;
        width: max-content;
    }
}
