.main {
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input {
    border: 1px solid #343434;
    background-color: #232323;
    border-radius: 12px;
    padding: 12px;
    color: white;
    transition: all 600ms ease;

    height: 3vh;
    border-radius: 6px;
    margin: 1% 0;
    width: 30%;
}

.input:focus {
    outline: none;
    border: 1px solid rgb(129, 142, 249);
    transition: all 600ms ease;
}

.input:nth-child(5) {
    margin-top: 10vh;
}
.fileinput {
    position: absolute;
    align-self: flex-end;
    border-radius: 12px;
    width: 30vh;
    height: 30vh;
    border: 2px dashed pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.irreversible,
.button {
    border: 1px solid rgb(254, 66, 77);
    border-radius: 8px;
    background-color: rgb(254, 66, 77, 0.2);
    width: 15%;
    color: rgb(254, 66, 77);
    font-size: 1rem;
    padding: 5px;
    transition: all 600ms ease;
}

.button:hover {
    background-color: rgb(254, 66, 77, 0.3);
    border: 1px solid rgb(254, 66, 77, 0.3);
    transition: all 600ms ease;
    cursor: pointer;
}

.submitbtn {
    width: 15%;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid rgb(0, 224, 156);
    color: rgb(0, 224, 156);
    background-color: rgb(0, 224, 156, 0.2);
    margin: 2% 0 0 0;
    transition: all 600ms ease;
    cursor: pointer;
}

.submitbtn:hover {
    background-color: rgb(0, 224, 156, 0.4);
    transition: all 600ms ease;
}

.input:focus {
    outline: none;
}

.error {
    border: 1px solid hsl(356.49, 98.95%, 62.75%, 0.2);
    background-color: rgba(255, 85, 96, 0.35);
    color: rgba(255, 85, 96);
    border-radius: 8px;
    padding: 1.5vh;
    margin: 1% 0;
    width: 30%;
}

.success {
    border: 1px solid rgb(0, 224, 156, 0.2);
    background-color: rgb(0, 224, 156, 0.35);
    color: rgb(0, 224, 156);
    border-radius: 8px;
    padding: 1.5vh;
    margin: 1% 0;
}

.deletemodal {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 37.5%;
    transform: translate(-25%, -25%);
    background-color: rgb(15, 15, 20);
    border: 1px solid #232323;
    border-radius: 12px;
    animation: modalAnimation 2s linear both;
}

.innermodal {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    height: 90%;
    margin: 5%;
}

.innermodal .button {
    width: 30%;
    justify-self: flex-end;
}

.irreversible {
    width: 40%;
    text-align: center;
    padding: 12px 5px;
}
