.sitesection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 10vh;
}

.siteheading {
    opacity: 0;
}

.sectionheader {
    font-size: 2.4rem;
    color: transparent;
    background-image: linear-gradient(90deg, #b1aad4, #582eff);
    background-clip: text;
    margin-bottom: 0;
}

.sectionsubheader {
    font-size: 1.1rem;
    color: #727272;
    font-weight: 500;
    margin-top: 0;
}

.featuregrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50% 50%;
    gap: 1rem;
    margin-top: 10vh;
}

@media screen and (max-width: 482px) {
    .sitesection {
        padding: 0;
    }

    .featuregrid {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 482px) and (max-width: 768px) {
    .sitesection {
        padding: 20px 50px;
    }

    .featuregrid {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 1150px) and (min-width: 769px) {
    .sitesection {
        padding: 20px;
    }

    .featuregrid {
        width: 100%;
    }
}

@media screen and (max-width: 1340px) and (min-width: 1151px) {
    .sitesection {
        padding: 20px;
    }

    .featuregrid {
        width: 100%;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translate3d(0px, 24px, 0px) scale3d(0.96, 0.96, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
            skew(0deg);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    }
}

.animate {
    animation: appear 0.6s ease-in-out both;
    -moz-animation: appear 0.6s ease-in-out both;
    transform-style: preserve-3d;
    will-change: transform, opacity;
}
