.main {
    overflow: scroll;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    color: #91909c;
    -webkit-font-smoothing: antialiased;
    height: 80%;
}

.headicon {
    height: 0.8rem;
    margin-right: 3%;
}

/* Status Classes */
.rowicon {
    width: 0.8rem;
    margin-right: 3%;
}

.online {
    color: #00e09c;
    font-weight: 600;
}
.minor {
    color: #fdb822;
    font-weight: 600;
}
.major {
    color: #fe424d;
    font-weight: 600;
}
.beta {
    color: #818ef9;
    font-weight: 600;
}
.offline {
    color: #b7b9bd;
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    .statusgrid {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .statusgrid {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .statusgrid {
        width: 80%;
        margin-left: 10%;
    }
}

.statusgrid {
    margin-left: 25%;
    width: 50%;
    margin-top: 5%;
    border: 1px solid #707070;
    border-radius: 7px;
    /*background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));*/
    border: 1px solid #343434;
    background-color: rgb(22, 21, 28);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 2vh);
    column-gap: 3%;
}

.gridheader {
    column-gap: 3%;
    font-weight: 700;
    font-size: 0.9rem;
    grid-column: span 3;
    border-bottom: 1px solid #343434;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3, 1fr);
    line-height: 1.2;
}

.headercell {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.headericon {
    height: 0.9rem;
    width: auto;
    margin-right: 3%;
}
.gridcell {
    display: flex;
    align-items: center;
}

.gridtext {
    margin: 1vh 0;
}

.gridcell:nth-child(1n) {
    margin-left: 5%;
}

.cellicon {
    margin-right: 3%;
    width: 1rem;
    height: auto;
}
