.wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.containerWrapper {
    display: flex;
    position: relative;
}

.overview {
    width: 20%;
    background-color: rgba(16, 16, 18);
    margin-right: 3%;
    margin-top: 7%;
    border-radius: 6px;
    border: 1px solid #23252a;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.05);
    height: min-content;
    text-align: left;
    position: sticky;
    top: 10vh;

    .overviewHeading {
        font-weight: 700;
        font-size: 1.1rem;
        margin: 5% 5%;
        margin-bottom: 1%;
        color: white;
    }

    .overviewList {
        padding: 0;
        margin: 5%;
        margin-left: 10%;
        transition: all 600ms ease;

        .overviewListItem {
            margin: 5% 0;
            transition: all 600ms ease;
            color: #a1a0a9;

            &:hover {
                transition: all 600ms ease;
                color: white;
            }

            .link {
                color: #a1a0a9;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 3%;
    text-align: left;
    color: white;
}

.date {
    color: #a1a0a9;
    font-weight: 700;
    font-size: 1rem;
}
.chapter {
    width: 100%;
    color: white;
    border: 1px solid #23252a;
    background-color: rgba(16, 16, 18);
    border-radius: 6px;
    margin-bottom: 2%;
    transition: all 600ms ease;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.05);

    &:hover {
        scale: 1.02;
        transition: all 600ms ease;
    }

    .bullets,
    .list,
    .chapterList {
        color: #a1a0a9;
    }

    .chapterHeader {
        font-weight: 600;
        font-size: 1.3rem;
        margin: 2% 2%;
        margin-bottom: 1%;
    }

    .chapterSubHeader {
        font-weight: 600;
        font-size: 1.1rem;
        margin: 1% 2%;
    }

    .chapterText {
        margin: 1% 2%;
        color: #a1a0a9;
    }
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.link {
    color: #7778b8;
    transition: all 600ms ease;
    font-weight: 600;
}

.link:hover {
    color: white;
    transition: all 600ms ease;
}

.table {
    margin: 0 2%;

    .tableHeadWrapper {
        font-size: 1rem;
    }

    .tableBody {
        .tableRow {
            border-bottom: 1px solid #23252a;
            .tableCell {
                color: #a1a0a9;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 96%;
        margin: 0 2%;

        .chapter {
            margin-bottom: 5%;

            .chapterHeader,
            .chapterSubHeader,
            .chapterText {
                margin: 4%;
            }
        }
    }
    .overview {
        display: none;
    }
}
