@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

nav {
    font-family: 'Nunito';
    width: 100%;
    height: 8vh;
    position: sticky;
    top: 0;
    text-align: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0));
    z-index: 7;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #505050;
}

/*.border-bottom {
    width: 100%;
    background-color: #505050;
    height: 0.1vh;
    box-shadow: 0 0 10px 1px #a2a2a2;
    scale: 0 1;
    animation: scroll-shower linear forwards;
    animation-timeline: scroll();
    transform-origin: left;
}

@keyframes scroll-shower {
    to {
        scale: 1 1;
    }
} */

.logo {
    height: 2.4rem;
    float: left;
    align-items: center;
    margin-right: 1%;
    width: auto;
}

.navlinkcontainer {
    display: flex;
    width: 70%;
    z-index: 7;
    align-items: center;
}

.navlink {
    font-size: 14px;
    color: #91909c;
    font-weight: 700;
    transition: all 600ms ease;
    margin: auto;
    margin-top: 1%;
}

.navlink:hover {
    cursor: pointer;
    color: #e2e2e2;
    transition: all 600ms ease;
    justify-content: center;
}

.logolink {
    color: #eeeeee;
    font-weight: 700;
    font-size: 25px;
    align-self: calc(center - 10px);
}

.polarplus {
    align-self: center;
    padding: 12px 24px;
    border: 1px solid #505050;
    border-radius: 5px;
    font-weight: 700;
    color: #91909c;
    transition: all 600ms ease;
    cursor: pointer;
    margin-left: auto;
}

.polarplus:hover {
    background-color: #1b1b1d;
    color: #e2e2e2;
    transition: all 600ms ease;
}

@media screen and (max-width: 550px) {
    .navlinkcontainer {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .logolink,
    .polarplus {
        display: none;
    }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
    .navlinkcontainer {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navlinkcontainer {
        width: 100%;
        margin-left: 0;
    }
}
