@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.nav {
    font-family: 'Nunito';
    width: 100%;
    height: 8vh;
    position: sticky;
    top: 0;
    text-align: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    z-index: 7;
    justify-content: space-around;
    border-bottom: 1px solid #2a2933;
}

.logo {
    height: 2.4rem;
    float: left;
    align-items: center;
    margin-right: 1%;
    width: auto;
}

.navlinkcontainer {
    display: flex;
    width: 70%;
    align-items: center;
}

.navlink {
    font-size: 14px;
    color: #91909c;
    font-weight: 700;
    transition: all 600ms ease;
    margin: 1% auto;
    margin-top: 1%;
}

.navlink:hover {
    cursor: pointer;
    color: #e2e2e2;
    transition: all 600ms ease;
    justify-content: center;
}

.logolink {
    color: #eeeeee;
    font-weight: 700;
    font-size: 25px;
    align-self: calc(center - 10px);
}

.button {
    font-weight: 600;
    border-radius: 5px;
    background-color: #2a2933;
    padding: 6px 24px;
    text-align: center;
    width: 25%;
    transition: all 600ms ease;
    width: max-content;
    z-index: 1289;
    cursor: pointer;
}

.button:hover {
    scale: 0.95;
    background-color: #1b1b2a;
    transition: all 600ms ease;
}

.welcome {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14%;
}

.pfp {
    height: 5.5vh;
    width: auto;
    border-radius: 50%;
}

.welcometext {
    margin: 0;
    color: #91909c;
    font-weight: 600;
}

.personal {
    font-weight: 700;
    transition: all 600ms ease;
}

.personal:hover {
    cursor: pointer;
    color: #4b4ee7;
    transition: all 600ms ease;
}

@media screen and (max-width: 550px) {
    .navlinkcontainer {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .logolink,
    .polarplus {
        display: none;
    }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
    .navlinkcontainer {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navlinkcontainer {
        width: 90%;
        margin-left: 5%;
    }
}
