.nav {
    width: 68%;
    position: sticky;
    top: 1vh;
    height: 7vh;
    border-radius: 6px;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border: 1px solid #23252a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 2;
}

.navlinkcontainer {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    font-weight: 700;
}

.navlink {
    transition: all 600ms ease;
    color: #a1a0a9;
    position: relative;
    text-decoration: none;
}

.navlink::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #a1a0a9;
    transition: width 300ms ease;
}

.navlink:hover::after {
    width: 100%;
    animation: borderColorChange 600ms forwards;
}

.navlink:hover {
    color: white;
}

@keyframes borderColorChange {
    0% {
        background-color: #a1a0a9;
    }
    100% {
        background-color: white;
    }
}

.logocontainer {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: flex-start;
}

.logo {
    height: 2.7em;
    width: auto;
    margin: 0 1vw;
}

.logolink {
    color: white;
    font-weight: 700;
    font-size: 25px;
    align-self: calc(center - 10px);
    background: linear-gradient(90deg, white, #7659ff, white);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 5s linear infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

.button {
    font-weight: 600;
    border-radius: 5px;
    background-color: #23252a;
    padding: 6px 24px;
    text-align: center;
    width: 25%;
    transition: all 600ms ease;
    width: max-content;
    z-index: 1289;
    cursor: pointer;
    margin: 0 5%;
}

.button:hover {
    scale: 0.95;
    background-color: #1c1d1f;
    transition: all 600ms ease;
}

.usercontainer {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 480px) {
    .nav {
        width: 96%;
    }

    .logolink {
        display: none;
    }

    .logocontainer {
        width: 10%;
    }

    .navlinkcontainer {
        margin-right: 5%;
        width: 80%;
    }

    .usercontainer {
        display: none;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .nav {
        width: 90%;
    }

    .logolink {
        display: none;
    }

    .logocontainer {
        width: 10%;
    }

    .usercontainer {
        width: max-content;
    }
    .button {
        height: 60%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .nav {
        width: 90%;
    }
}
