.main {
    width: 80%;
    margin-left: 10%;
}

.postcontainer {
    width: 100%;
    margin-top: 5%;
    color: white;
}

.postbanner {
    width: 70%;
    border-radius: 15px;
}

.posttitle {
    font-size: 2.4rem;
    text-align: center;
    background: linear-gradient(90deg, #e5e5e5, #8bb9ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homeicon {
    width: 1rem;
    border-radius: 10px;
    border: 1px solid #505050;
    padding: 0.5rem;
    transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
}

.homeicon:hover {
    border: 1px solid #e5e5e5;
    transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
}

.author {
    font-size: 1rem;
    font-weight: 700;
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-bottom: 5%;
    line-height: 0.5;
    text-align: left;
}

.authortextcontainer {
    display: flex;
    flex-direction: column;
}

.postauthorpfp {
    width: 3rem;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
}
.postauthoruser {
    color: white;
}
.postauthorrole {
    color: #505050;
}

.postcontent {
    width: 70%;
    margin-left: 15%;
    font-size: 1.3rem;
    text-align: left;
}

.sectiontext {
    color: #c0becc;
    font-size: 1.1rem;
}

@media screen and (max-width: 480px) {
    .main {
        width: 96%;
        margin: 2%;
    }
    .postcontainer {
        width: 100%;
        margin: 0;
    }
    .postcontent {
        width: 100%;
        margin: 0;
    }
    .postbanner {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 770px) {
    .main {
        width: 98%;
        margin: 3.5%;
    }
    .postcontainer {
        width: 100%;
        margin: 0;
    }
    .postcontent {
        width: 100%;
        margin: 0;
    }
    .postbanner {
        width: 100%;
    }
}

@media screen and (min-width: 771px) and (max-width: 1025px) {
    .main {
        width: 80%;
        margin: 10%;
    }
    .postcontainer {
        width: 100%;
        margin: 0;
    }
    .postcontent {
        width: 100%;
        margin: 0;
    }
    .postbanner {
        width: 100%;
    }
}
