.main {
    display: flex !important;
    width: 100%;
}
.connections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 100%;
    text-align: left;
}

.connection {
    background-color: #16151c;
    border: 1px solid #2a2933;
    border-radius: 10px;
    grid-column: span 1;
    width: 80%;
    margin-left: 5%;
    height: 25vh;
    position: relative;
    transition: all 600ms ease;
}

.connection:hover {
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.1), 0 0 40px 2px rgba(255, 255, 255, 0.2);
    transition: all 600ms ease;
    scale: 1.02;
}

.top {
    display: flex;
    align-items: center;
    height: 6vh;
    width: 100%;
}

.icon:nth-child(1) {
    margin-left: 3%;
    font-size: 1.3rem;
}

.name {
    margin-left: 3%;
    font-weight: 700;
    font-size: 1.5rem;
}

.button {
    justify-self: end;
    margin-left: auto;
    margin-top: 2vh;
    margin-right: 3%;
    cursor: pointer;
    color: #d86464;
    background-color: #2a2933;
    height: 4vh;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
    transition: all 600ms ease;
    font-weight: 700;
}

.button:hover {
    background-color: #1b1b2a;
    scale: 0.95;
    transition: all 600ms ease;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info {
    margin-left: 3%;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}

.date {
    position: absolute;
    bottom: 3%;
    left: 3%;
    font-size: 0.7rem;
    color: #a1a0a9;
}

@media screen and (max-width: 767px) {
    .connections {
        grid-template-columns: auto;
    }
    .connection {
        width: 94%;
        margin-left: 3%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .connection {
        width: 90%;
        margin-left: 5%;
    }
}
