.nav {
    width: 18%;
    margin: 0;
    border-right: 1px solid #2a2933;
    background-color: rgb(22, 21, 28);
    color: white;
    position: relative;
}

.navitem {
    width: 85%;
    margin-left: 7.5%;
    display: flex;
    align-items: center;
    transition: all 600ms ease;
    margin-bottom: 3%;
    border-radius: 5px;
    cursor: pointer;
    color: #a1a0a9;
    font-weight: 700;
}

.navitem.active,
.navitem:hover {
    background-color: #2a2a33;
    transition: all 600ms ease;
    color: white;
}

.navitem:hover .navicon {
    color: white;
    transition: all 600ms ease;
}

.navicon {
    margin: 0 5%;
    font-size: 18px;
    transition: all 600ms ease;
}

.logout {
    color: #d86464;
    background-color: #2a2933;
    height: 4vh;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    transition: all 600ms ease;
    cursor: pointer;
    font-weight: 700;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    left: 0;
    bottom: 3%;
}

.logout:hover {
    background-color: #1b1b2a;
    transition: all 600ms ease;
    scale: 0.96;
}

@media screen and (min-width: 620px) and (max-width: 820px) {
    .nav {
        width: 0;
        z-index: 3;
        position: absolute;
        left: 0;
        height: 92vh;
        animation: animateOut 300ms linear forwards;
    }
    .nav.active {
        width: 60%;
        opacity: 1;
        animation: animateIn 400ms linear forwards;
    }
}

@keyframes animateOut {
    0% {
        opacity: 1;
        width: 60%;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}

@keyframes animateIn {
    0% {
        opacity: 0;
        width: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        width: 60%;
    }
}
