.wrapper {
    height: 92vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
}

.main {
    display: flex;
    width: 100%;
}

.container {
    width: 77%;
    height: 95%;
    margin: 1% 2.5%;
    color: white;
}

.inputwrapper {
    width: 98%;
    background-color: rgb(22, 21, 28);
    border: 1px solid #2a2933;
    border-radius: 10px;
    padding: 0.3% 1%;
}

@media screen and (min-width: 620px) and (max-width: 820px) {
    .container {
        width: 90%;
        margin: 1% 5%;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 95%;
        margin: 1% 2.5%;
    }
}
