.grid-container {
    width: 10vw;
    border-radius: 120px;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}

.mine {
    background-color: red;
}

.empty {
    background-color: #eee;
}
