.main {
    width: 100%;
    height: 90vh;
    overflow: scroll;
    transition: all 600ms ease;
}
.innermain {
    height: inherit;
    width: 80%;
    margin-left: 10%;
    height: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: center;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
.palletetable {
    opacity: 0;
    height: 80%;
    border-radius: 12px;
    color: white;
    border: 1px solid #505050;
    background: rgb(22, 21, 28);
    width: 100%;
    transition: all 600ms ease;
    text-align: left;
}

.palletetable:nth-child(1) {
    opacity: 1;
}

.tablecell {
    border-bottom: 1px solid #505050;
    color: #717171;
    font-weight: 700;
    width: 20%;
}

.tablehead {
    border-bottom: 1px solid #505050;
    color: #717171;
    font-weight: 700;
}

.darkmode {
    background-color: #212121;
    border-radius: 6px;
    padding: 3px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.lightmode {
    background-color: #e5e5e5;
    border-radius: 6px;
    padding: 3px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.palletetable.animate {
    animation: appear 0.7s linear both;
    -moz-animation: appear 0.7s linear both;
    transform-style: preserve-3d;
    will-change: transform, opacity;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translate3d(0px, 24px, 0px) scale3d(0.96, 0.96, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
            skew(0deg);
    }
    10% {
        opacity: 0.1;
        transform: translate3d(0px, 20px, 0px) scale3d(0.96, 0.96, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
            skew(0deg);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    }
}

.top {
    color: #e7e7e7;
    height: 90%;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
}

.header {
    font-size: 2.8rem;
}

.description {
    font-size: 1.2rem;
}

.button {
    background-color: rgb(22, 21, 28);
    padding: 15px;
    width: 10%;
    border-radius: 12px;
    transition: all 600ms ease;
}

.button:hover {
    scale: 1.1;
    transition: all 600ms ease;
    background-color: rgb(36, 35, 44);
}
