.navbar {
    border-bottom: 1px solid #505050;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e7e7e7;
    height: 10vh;
}

.navbarlogo {
    display: inline-flex;
    align-items: center;
    width: 20%;
    margin: 0 0 0 1%;
}

.header {
    font-size: 1.5rem;
    font-weight: 600;
}

.logo {
    height: 5vh;
    margin: 0 2%;
}

.navlinks {
    display: flex;
    width: 60%;
    justify-content: space-around;
    font-weight: 600;
}

.createnewcontainer {
    width: 20%;
}

.createnew {
    border: 1px solid #505050;
    background-color: transparent;
    color: #e7e7e7;
    font-weight: 700;
    padding: 1vw;
    border-radius: 12px;
    margin: 0 10% 0 0;
    cursor: pointer;
    float: right;
    transition: all 600ms ease;
}
.createnew:hover {
    border: 1px solid #212121;
    background-color: #2f3136;
    transition: all 600ms ease;
}

.menuicon,
.closeicon {
    display: none;
    height: 2vh;
    margin-right: 3vw;
}
@media screen and (max-width: 1024px) and (min-width: 770px) {
    .activelist {
        opacity: 1;
        width: 40%;
        background-color: rgb(14, 14, 14);
        transition: all 600ms ease;
    }

    .menuicon {
        display: block;
    }
    .block {
        display: block;
    }

    .hidden {
        display: none;
    }
    .navlink:nth-child(3) {
        display: none;
    }
    .navbarlogo {
        width: 40%;
    }
    .createnew {
        padding: 12px;
    }
}

@media screen and (max-width: 769px) {
    .navlink:nth-child(3),
    .navlink:nth-child(2) {
        display: none;
    }
    .navlinks {
        width: 10%;
    }
    .navbarlogo {
        width: 50%;
    }
    .menuicon {
        display: block;
    }

    .activelist {
        opacity: 1;
        width: 100vw;
        background-color: rgb(14, 14, 14);
        transition: all 600ms ease;
    }

    .block {
        display: block;
    }

    .hidden {
        display: none;
    }
    .hiddenmain {
        display: none !important;
    }
}
