.wrapper {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 60%;
    border: 1px solid #23252a;
    background-color: rgba(16, 16, 18);
    box-shadow: 0 0 20px rgba(35, 37, 42, 0.3);
    border-radius: 6px;
    height: 80%;
}

.logo {
    height: 5vh;
    width: auto;
    margin: 0 3%;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
}

.inputs {
    width: 100%;
    margin: 3% 0;
    height: 50%;
}

.inputcontainer {
    text-align: left;
    margin: 2% 3%;
}

.inputlabel {
    color: white;
    font-weight: 700;
    margin: 2% 0;
}

.input {
    width: 87%;
    border-radius: 5px;
    font-family: 'Nunito';
    height: 45%;
    height: 5vh;
    background-color: #23252a;
    color: white;
    font-weight: 600;
    padding: 0 3%;
    border: 1px solid #23252a;
    outline: none;
    transition: all 600ms ease;
}

.input:focus {
    border: 1px solid #4b4ee7;
    transition: all 600ms ease;
}

.buttoncontainer {
    width: 94%;
    margin: 2% 0;
}

.switchtext {
    color: white;
}

.switchbutton {
    font-weight: 600;
    color: rgb(207, 185, 253);
    transition: all 600ms ease;
    margin-left: 0.8%;
}

.switchbutton:hover {
    color: #4b4ee7;
    cursor: pointer;
    transition: all 600ms ease;
}

.button {
    width: 93%;
    margin: 1% 3%;
    border-radius: 5px;
    font-family: 'Nunito';
    height: 45%;
    height: 5vh;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 600ms ease;
}

.loginbtn:hover {
    scale: 0.95;
    background-color: #1b1b2a;
    transition: all 600ms ease;
}

.discordloginbtn:hover {
    scale: 0.95;
    transition: all 600ms ease;
    background-color: #27288f;
}

.loginbtn {
    background-color: #23252a;
}

.discordloginbtn {
    background-color: #4b4ee7;
    box-shadow: 0 0 12px #4b4ee780;
}

.strengthbars {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    width: 93%;
}

.strengthbar {
    height: 0.3rem;
    width: 24%;
    background-color: #2a2933;
    border-radius: 5px;
    transition: all 600ms ease;
}
.strengthtext {
    margin-top: 5px;
    font-size: 0.8rem;
    text-align: left;
    transition: color 600ms ease;
    font-weight: 600;
    margin-top: 0;
}

.left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
}

.benefits {
    line-height: 2;
    text-align: left;
    font-size: 0.95rem;
    font-weight: 600;
    list-style: disc;
}

.success {
    color: #00e09c;
    margin: 2% 3%;
    background-color: #2a2933;
    height: 4vh;
    border-radius: 5px;
    width: 84%;
    display: flex;
    align-items: center;
    padding: 0 2%;
    box-shadow: 0px 0 20px #00e09d31;
    font-weight: 700;
}

.error {
    color: #fe424d;
    margin: 2% 3%;
    background-color: #2a2933;
    height: 4vh;
    border-radius: 5px;
    width: 84%;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0 2%;
    box-shadow: 0px 0 20px #fe424f31;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .left {
        width: 100%;
    }

    .right {
        display: none;
    }
    .buttoncontainer {
        width: 100%;
    }
    .input {
        width: 94%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 80%;
    }
}
