body {
    margin: 0;
    overflow: hidden;
}
nav {
    display: none;
}
::-webkit-scroll {
    display: none;
}

.mainwrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}

.dashboard {
    width: 82%;
    float: right;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.dashboardtopbar {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #505050;
    margin-left: 0;
    text-align: left;
    display: flex;
    align-items: center;
}
.topbarheader {
    margin-left: 3%;
    color: white;
}
.topbardivider {
    background-color: #28272e;
    font-size: 2rem;
    height: 40%;
    width: 0.1vw;
    border: none;
    border-radius: 12px;
    margin: 0 2%;
}
.topbardescription {
    color: #9d9ba9;
    font-weight: 600;
    margin: 0;
}
.username {
    color: #505050;
    font-weight: 700;
    margin-left: 1vw;
}
.profilepicture {
    height: 6vh;
    border-radius: 100000px;
}

.dashboardwrapper {
    margin: 1% 5%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 90vh;
}

.smallinfocard {
    background-color: #16151c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}

nav {
    display: none;
}

footer {
    display: none;
}
