@media screen and (max-width: 480px) {
    .main {
        width: 100%;
        margin: 0;
    }
    .featuregrid {
        grid-template-rows: 16%;
    }
    .griditem {
        margin-top: 3vh;
        grid-column: span 6;
        grid-row: span 2;
        height: 45vh;
    }
    .gridimg {
        height: 40%;
        position: absolute;
        bottom: 3%;
        right: 10%;
    }
    .gridheader {
        width: 220%;
        text-align: center;
    }
    .gridcontent {
        float: none;
        width: 230%;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .main {
        width: 100%;
        margin: 0;
    }
    .featuregrid {
        grid-template-rows: 16%;
    }
    .griditem {
        margin-top: 3vh;
        grid-column: span 6;
        grid-row: span 2;
        height: 45vh;
    }
    .gridimg {
        height: 40%;
        position: absolute;
        bottom: 3%;
        right: 10%;
    }
    .gridheader {
        width: 220%;
        text-align: center;
    }
    .gridcontent {
        float: none;
        width: 230%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
    .main {
        width: 100%;
        margin: 0;
    }
    .gridrowhalf {
        display: flex;
        flex-direction: column;
        text-align: center;
        .gridtextcontainer {
            width: 90%;
        }
        .gridimg {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 60%;
        }
    }
}
