body {
    margin: 0;
    overflow: hidden;
}
.navbar_nav__yXto3 {
    display: none;
}
::-webkit-scroll {
    display: none;
}

.mainwrapper {
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
}

.dashboard {
    width: 82%;
    float: left;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #0d0c13;
}

.username {
    color: #505050;
    font-weight: 700;
    margin-left: 1vw;
}
.profilepicture {
    height: 6vh;
    border-radius: 100000px;
}

.dashboardwrapper {
    margin: 1% 2%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 90vh;
}

.smallinfocard {
    background-color: #111118;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}

.inputGroupFull {
    background-color: #111118;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
}

.inputGroupHalf {
    background-color: #111118;
    border-radius: 12px;
    display: inline-flex;
    flex-direction: column;
    margin: 2vh 0;
    width: 47.5%;
    float: left;
}

.inputGroupHalf:nth-child(2n) {
    margin-left: 5%;
}

nav {
    display: none;
}

footer {
    display: none;
}
