.container {
    position: absolute;
    top: 3vh;
    right: -30%;
    width: 30%;
    background-color: #16151c;
    z-index: 255;
    opacity: 1;
    transition: transform 0.6s ease, opacity 0.6s ease;
    overflow: hidden;
    height: 10vh;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container.active {
    transform: translateX(-105%);
    opacity: 1;
}

.progressBar {
    height: 5%;
    background-color: red;
}

.container.active .progressBar {
    animation: progress 5s ease-in-out forwards;
}

.infoContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.textContainer {
    color: white;
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: left;
    font-weight: 700;
}

.description {
    margin-top: 0;
    color: #a1a0a9;
}

.heading {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.icon {
    aspect-ratio: 1/1;
    font-size: 2rem;
    background-color: red;
    border-radius: 100px;
}

@keyframes toast {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
