@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: #2b2b2b;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(30, 9, 73), #1c1651);
    border-radius: 20px;
}
::-webkit-scrollbar:horizontal {
    display: none;
}

* {
    font-family: 'Nunito';
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: rgb(15, 15, 20);
    position: relative;
    text-align: center;
    font-family: 'Nunito';
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    scroll-behavior: smooth;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.main {
    width: 70%;
    margin-left: 15%;
}

@media screen and (max-width: 768px) {
    .main {
        width: 96%;
        margin-left: 2%;
    }
}

@media screen and (max-width: 1150px) and (min-width: 769px) {
    .main {
        width: 96%;
        margin-left: 2%;
    }
}
@media screen and (max-width: 1340px) and (min-width: 1151px) {
    .main {
        width: 90%;
        margin-left: 5%;
    }
}
