@font-face {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/icons.woff') format('woff'), url('./fonts/icons.woff2') format('woff2');
}

[class^='icon-']:before,
[class*=' icon-']:before {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.icon-caret-up:before {
    content: '\e800';
} /* '' */
.icon-folders:before {
    content: '\e801';
} /* '' */
.icon-trash:before {
    content: '\e802';
} /* '' */
.icon-plus:before {
    content: '\e803';
} /* '' */
.icon-gift:before {
    content: '\e804';
} /* '' */
.icon-shield-keyhole:before {
    content: '\e805';
} /* '' */
.icon-shield:before {
    content: '\e806';
} /* '' */
.icon-gear:before {
    content: '\e807';
} /* '' */
.icon-message:before {
    content: '\e808';
} /* '' */
.icon-arrow-right:before {
    content: '\e809';
} /* '' */
.icon-check-double:before {
    content: '\e80a';
} /* '' */
.icon-circle-info:before {
    content: '\e80b';
} /* '' */
.icon-copy:before {
    content: '\e80c';
} /* '' */
.icon-discord:before {
    content: '\e80d';
} /* '' */
.icon-download:before {
    content: '\e80e';
} /* '' */
.icon-github:before {
    content: '\e80f';
} /* '' */
.icon-grid-2:before {
    content: '\e810';
} /* '' */
.icon-house:before {
    content: '\e811';
} /* '' */
.icon-music:before {
    content: '\e812';
} /* '' */
.icon-shield-check:before {
    content: '\e813';
} /* '' */
.icon-signal-bars:before {
    content: '\e814';
} /* '' */
.icon-sparkles:before {
    content: '\e815';
} /* '' */
.icon-triangle-exclamation:before {
    content: '\e816';
} /* '' */
.icon-user:before {
    content: '\e817';
} /* '' */
.icon-copyright:before {
    content: '\e818';
} /* '' */
.icon-bars:before {
    content: '\e819';
} /* '' */
.icon-check:before {
    content: '\e81a';
} /* '' */
.icon-xmark:before {
    content: '\e81b';
} /* '' */
.icon-pen:before {
    content: '\e81c';
} /* '' */
.icon-link:before {
    content: '\e81d';
} /* '' */
.icon-scroll:before {
    content: '\e81e';
} /* '' */
.icon-bells:before {
    content: '\e81f';
} /* '' */
.icon-stars:before {
    content: '\e820';
} /* '' */
